li {
    width: 30%;
    display: inline-block;
    /*float:left;*/
    text-align:center;
    border: 1px solid black;
    list-style: none;
    margin: 11px 5px;
    padding: 5px;
}

body {
    /*background: white url("images/") no-repeat right bottom;*/
    background: lightgreen;
}

video {
    align-content: center;
}

